# IDE
**/*.iml
**/*.vscode
**/*.idea

# node
**/node_modules
**/package-lock.json
server/volumes/*
server/cloud-db-dumps/*
!server

# nextcloud face-recognition
./cloud/face-recognition
server/volumes/proxy/logs