# IDE
**/*.iml
**/*.vscode
**/*.idea

# node
**/node_modules
**/package-lock.json
server/volumes/*
server/cloud-db-dumps/*
!server

# nextcloud face-recognition
./cloud/face-recognition
server/volumes/proxy/logs

argo/config/cert.pem
argo/config/d207d6c3-0a62-4bfa-a910-54bc92923be4.json